*{
 /*outline: 1px solid green;*/
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Raleway';
}

.layout{
  display:flex;
  height:100vh;
}

.sidebar{
  width:250px;
  background:#1e293b;
  color:white;
  padding:20px;
}

.sidebar h2{
  font-size:20px;
  margin-bottom:30px;
}

.sidebar button{
  width:100%;
  margin-bottom:15px;
  background:transparent;
  border:1px solid rgba(255,255,255,0.2);
  color:white;
}

.sidebar button.active{
  background:white;
  color:#1e293b;
  font-weight:bold;
}

.content{
  flex:1;
  padding: 10px;
  background:#f1f5f9; 
  overflow-y:auto;
}