.card{
    border-radius: 20px;
}

.card-body{
  max-height: 80vh;      /* ocupa el 80% de la pantalla */
  overflow-y: auto;      /* scroll vertical */
  overflow-x: auto;      /* por si se desborda horizontal */
  border-radius: 14px;
}

/*DISEÑO DE LA TABLA */
.table-contabilidad{
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  background: #ffffff;
  border-radius: 14px;
  overflow: hidden;        /* mantiene las esquinas redondeadas */
  box-shadow: 0 10px 25px rgba(0,0,0,.08);
}

.table-contabilidad thead th{
    background-color: #414141 !important;
    font-weight: 600;
}

.text-end {
    text-align: center !important;
}

.table-contabilidad tbody td{
    padding: 8px;
}

.ttable-contabilidad tbody tr:last-child td {
  border-bottom: 0;
}

 /*celdas*/
.table-contabilidad tbody td {
  border-top: 1px solid #e7e7e7;
  padding: 14px 16px;
}

/*busqueda*/
.c-b-contabilidad{
  position: relative;
  background: rgba(255, 255, 255, 0.664);
  padding: 10px 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  max-width: 900px;
  transition: transform 400ms;
  transform-style: preserve-3d;
  perspective: 500px;
}

.shadow__input {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(30px);
  border-radius: 20px;
  background-color: #0981f1b2;
  background-image: radial-gradient(at 85% 51%, rgb(215, 189, 96) 0px, transparent 50%),
    radial-gradient(at 74% 68%, #d8cd38 0px, transparent 50%),
    radial-gradient(at 64% 79%, #f4b266 0px, transparent 50%),
    radial-gradient(at 75% 16%, #f6fffe 0px, transparent 50%),
    radial-gradient(at 90% 65%, #63e3aa 0px, transparent 50%),
    radial-gradient(at 91% 83%, #9ca3ed 0px, transparent 50%),
    radial-gradient(at 72% 91%, #8fbaef 0px, transparent 50%);
}

.linea{
    height: 2px;
    width: 90%;
    background-color: #0981f1;
    border-radius: 20px;
    justify-content: center !important;
    position: relative;
}

/*-------FORM --------*/
form {
    display: grid;
    gap: 30px;
    width: 100%;

    background: #f6f6fb;
    border-radius: 20px;
    padding: 30px;
}

.textbox {
  position: relative;
}

label,
input {
  transition: 0.3s;
}

.textbox label {
  position: absolute;
  top: 50%;
  left: 16px;
  translate: 0 -50%;
  transform-origin: 0 50%;
  pointer-events: none;
  color: #0981f1;
}

.textbox input {
  background: #f6f6fb;
  border-radius: 10px;
  width: 100%;
  outline: none;
  color: inherit;
  box-shadow: 0 0 0 2px transparent;
  padding-left: 10px !important;
  padding: 5px;
}

.textbox input:focus {
  box-shadow: 0 0 0 2px #0981f1;
}

.textbox input:is(:focus, :not(:invalid)) ~ label {
  scale: 0.725;
  translate: 0 -180%;
}

#btn-calcular{
  position: relative;
  width: 160px;
  height: 35px;

  display: flex;
  justify-content: center;  
  align-items: center;

  font-size: 17px;
  background: transparent;
  border: none;
  color: #f9f9f9;
  z-index: 1;
}

#btn-calcular p{
  margin: 0;
  text-align: center;
}

#btn-calcular i{
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
}

#btn-calcular::after,
 #btn-calcular::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}

#btn-calcular::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #292929e7;
    
    border-radius: 50px;
}

#btn-calcular::after {
    transform: translate(0px, 0px);
    width: 10px;
    height: 10px;
    background: #2670b5a5;
    backdrop-filter: blur(5px);
    border-radius: 50px;
}

#btn-calcular:hover::before {
    transform: translate(1%, 20%);
    width: 10px;
    height: 10px;
}

#btn-calcular:hover::after {
    border-radius: 50px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

#btn-calcular:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}

/*Aplicar lo de ley*/
/* Contenedor */
.mb-3-ley {
  background: #f9fafb;
  padding: 16px;
  border-radius: 14px;
  border: 1px solid #e5e7eb;
  max-width: 420px;
}

/* Título */
.form-label {
  font-weight: 600;
  color: #374151;
  margin-bottom: 12px;
  display: block;
}

/* Opciones a la par */
.mb-3 > .form-check {
  display: inline-block;
  width: 48%;
  height: 38%;
  margin-right: 2%;
}

.mb-3 > .form-check:last-child {
  margin-right: 0;
}

/* Card/cuadro */
.form-check {
  position: relative;
  border-radius: 12px;
  border: 2px solid #e5e7eb;
  background: #ffffff;
  transition: all 0.25s ease;
}

/* Ocultar radio pero dejarlo funcional */
.form-check-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* label /cuadro completo */
.form-check-label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-weight: 600;
  color: #1f2937;
}

/* efecto */
.form-check:hover {
  border-color: #0355a1b6;
  background: #eef2ff;
}

/* seleccionado */
.form-check:has(.form-check-input:checked) {
  border-color: #0981f1;
  background: #eef2ff;
  /*box-shadow: 0 6px 18px #0981f14d;*/
}

.form-check:has(.form-check-input:checked) .form-check-label {
  color: #0981f1;
}

.formulas-contabilidad ul li {
  font-size: 0.95rem;
}

.formulas-contabilidad h5 {
  font-weight: 700;
  color: #333;
}


/*formulas*/
.btn-formulas {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  width: 200px;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.btn-formulas:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.btn-formulas:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn-formulas:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #0981f1;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn-formulas:hover {
  color: #ffffff;
  border: 1px solid #0981f1;
}

.btn-formulas:hover:before {
  top: -35%;
  background-color: #0981f1;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn-formulas:hover:after {
  top: -45%;
  background-color: #0981f1;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

